@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5c27f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(253, 97, 7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 97, 7);
}

.main-content {
  padding: 0px;
}

.cover {
  height: calc(100vh - 129px);
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.idea-img {
  max-width: 300px;
}


#t2 {
  color: #300E2F;
}

.contact-us {
  background-color: #f3fbff8c;
  color: rgb(34, 34, 34);
  border: none;
  border-radius: 10px;
}

.contact-us a {
  color: blueviolet;
  font-family: "Roboto", sans-serif;
}

.contact-us a:hover {
  color: rgb(253, 97, 7);
  letter-spacing: 3px;
  transition: all 0.5s;
}

.brand {
  height: 50px;
}

.nav-custom {
  padding: 0px;
}

.top-middle {
  text-align: center;
}

hr {
  width: 100%;
  height: 5px;
  border: 1px solid #fff;
}

a {
  display: block;
  text-decoration: none;
  color: cyan;
  font-family: monospace;
  letter-spacing: 2px;
  font-size: 16px;
}

a:hover {
  opacity: 0.8;
}

.bottom-left {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-left a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: rgb(253, 97, 7);
}

.social-icons {
  display: none;
}

.brand-footer {
  height: 30px;
  width: 30px;
}

footer {
  position: static;
  width: 100%;
  bottom: 0px;
}

footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgb(34, 34, 34);
  padding-right: 1rem;
  padding-left: 1rem;
}

.offcanvas-start {
  width: calc(min(100vw, 500px));
}

@media only screen and (max-width: 560px) {
  .top-left img {
    display: none;
  }

  .social-icons {
    display: block;
  }

  .neon-bookshlf a {
    font-size: 3em;
  }

  .bottom-left {
    left: 50px;
  }

  hr {
    height: 3px;
  }

  img {
    height: 30px;
    width: 30px;
  }

  .bottom-right {
    display: none;
  }

  .hide-on-smallscreen {
    display: none;
  }
}

.offcanvas-custom {
  color: #ff9900;
  font-family: "Roboto", cursive;
}

.offcanvas-custom h5 {
  color: blueviolet;
}

.rank-form {
  color: rgb(34, 34, 34);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.btn {
  letter-spacing: 1px;
}

#emailHelp {
  font-size: 12px;
}

#loading {
  display: none;
  margin-top: 15px;
}

.result-box {
  display: none;
  margin-top: 15px;
  font-size: 12px;
}

.result-box table th,
td {
  text-align: center;
}

@media only screen and (max-width: 340px) {
  .top-left img {
    display: none;
  }

  img {
    height: 30px;
    width: 30px;
  }

  .top-left {
    left: 60px;
  }

  .icon {
    margin: 10px;
  }

  .social-icons {
    display: block;
  }
}