@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body,
html {
  margin: 0;
  font-family: "Poiret One", cursive;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5c27f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(253, 97, 7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 97, 7);
}
.main-content {
  padding: 0px;
}
.cover {
  min-height: calc(100vh - (129px));
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#t2 {
  color: #ff9900;
}
.contact-us {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 34);
  border: none;
  border-radius: 50px;
}
.contact-us a {
  color: blueviolet;
  font-family: "Roboto", sans-serif;
}
.contact-us a:hover {
  color: rgb(253, 97, 7);
  letter-spacing: 3px;
  transition: all 0.5s;
}
h4 {
  color: white;
}
/*Neon*/
.neon-bookshlf a {
  text-align: center;
  font-size: 6em;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ff9900;
  font-family: "Audiowide", cursive;
}

.neon-bookshlf a {
  -webkit-animation: neon 0.75s ease-in-out infinite alternate;
  -moz-animation: neon 0.75s ease-in-out infinite alternate;
  animation: neon 0.75s ease-in-out infinite alternate;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}
.brand {
  height: 50px;
}
.nav-custom {
  padding: 0px;
}
.top-middle {
  text-align: center;
}
hr {
  width: 100%;
  height: 5px;
  border: 1px solid #fff;
}
a {
  display: block;
  text-decoration: none;
  color: cyan;
  font-family: monospace;
  letter-spacing: 2px;
  font-size: 16px;
}
a:hover {
  opacity: 0.8;
}
.make-shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.bottom-left {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-left a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: rgb(253, 97, 7);
}
.social-icons {
  display: none;
}
.brand-footer {
  height: 30px;
  width: 30px;
}
footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgb(34, 34, 34);
  padding-right: 1rem;
  padding-left: 1rem;
}
.offcanvas-start {
  width: calc(min(100vw, 500px));
}
@media only screen and (max-width: 560px) {
  .top-left img {
    display: none;
  }
  .social-icons {
    display: block;
  }
  .neon-bookshlf a {
    font-size: 3em;
  }
  .bottom-left {
    left: 50px;
  }
  hr {
    height: 3px;
  }
  img {
    height: 30px;
    width: 30px;
  }
  .bottom-right {
    display: none;
  }
}

.offcanvas-custom {
  color: #ff9900;
  font-family: "Roboto", cursive;
}
.offcanvas-custom h5 {
  color: blueviolet;
}
.rank-form {
  color: rgb(34, 34, 34);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.btn {
  letter-spacing: 1px;
}
#emailHelp {
  font-size: 12px;
}
#loading {
  display: none;
  margin-top: 15px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(36, 36, 36);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.result-box {
  display: none;
  margin-top: 15px;
  font-size: 12px;
}
.result-box table th,
td {
  text-align: center;
}
@media only screen and (max-width: 340px) {
  .top-left img {
    display: none;
  }
  img {
    height: 30px;
    width: 30px;
  }
  .top-left {
    left: 60px;
  }
  .icon {
    margin: 10px;
  }
  .social-icons {
    display: block;
  }
}

/* Animated Background */

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
.background-container > img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}
